= form_for [@project, @task] do |f|
  - if @task.errors.any?
    #error_explanation
      h2 = "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      ul
        - @task.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :rating
    = f.number_field :rating
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :user_id
    = select("task", "user_id", User.all.collect {|u| [ u.email, u.id ]}, {include_blacnk: 'None'})
  .field
    = f.label :tag_list
    = f.text_field :tag_list
  = hidden_field(:task, :project_id)
  .actions = f.submit
