article(id='#{task.id}')
  = link_to project_task_path(task.project, task)
    = task.title
  br
  = link_to 'Edit', edit_project_task_path(task.project, task)
  br
  = link_to 'Destroy', project_task_path(task.project, task), data: {:cofirm => 'Are you shure?'}, :method => :delete
  = form_for task.project,url: project_task_path(task.project, task), remote: true do |f|
    - case task.state
    - when "new"
      = hidden_field(:task, :state, value:'work')
    - when "work"
      = hidden_field(:task, :state, value:'verification')
    - when "verification"
      = hidden_field(:task, :state, value:'done')
    - when "done"
      = hidden_field(:task, :state, value:'using')
    - else
      = hidden_field(:task, :state, value:'using')
    = f.submit value: "Done"
br
