p#notice = notice

p
  strong Title:
  = @task.title
p
  strong Rating:
  = @task.rating
p
  strong Description:
  = @task.description

p
  strong Creator:
  = @user.email

p
  strong Performer:
  = @task.user.email

p
  strong Tags:
  = @task.tag_list

= link_to 'Edit', edit_project_task_path(@task.project, @task)
'|
= link_to 'Back', root_path
