= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      h2 = "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      ul
        - @project.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = select("project", "user_id", User.all.collect {|p| [ p.email, p.id ] }, {include_blank: 'None'})
  .actions = f.submit
