section.row
  - if authenticate_admin? then
    = link_to 'New user', new_admin_path
    br
    = link_to 'New Project', new_project_path

- @projects.each do |project|

  section(id='p#{project.id}' class='row')
    h1 = project.name
    article.large-2.columns#new
      h3 New
      - project.tasks.each do |task|
        - if task.state == "new"
          = render task

    article.large-2.columns#work
      h3 Work
      - project.tasks.each do |task|
        - if task.state == "work"
          = render task

    article.large-2.columns#verification
      h3 Verification 
      - project.tasks.each do |task|
        - if task.state == "verification"
          = render task  

    article.large-2.columns#done
      h3 Done
      - project.tasks.each do |task|
        - if task.state == "done"
          = render task

    article.large-2.columns#using
      h3 Using
      - project.tasks.each do |task|
        - if task.state == "using"
          = task.title

    article.large-2.columns
      h3 Settings
      ul
        li = link_to 'New Task', new_project_task_path(project)
        li = link_to 'Edit Project', edit_project_path(project)
        li = link_to 'Destroy Project', project, data: {:confirm => 'Are you shure?'}, :method => :delete
