p#notice = notice

p
  strong Name:
  = @project.name

p
  strong Tasks:
  = @project.tasks.count
  - if @project.tasks.any?
    = render @tasks 

p
  strong new_task
  = render 'tasks/form'

= link_to 'Edit', edit_project_path(@project)
'|
= link_to 'Back', projects_path
